    <div class="ngdialog-message">
        <h3>{{'structure.confirmation.confirmUpdate.label' | translate }}</h3>
        <p>{{'structure.confirmation.messageUpdate.label' | translate }}</p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="btn btn-color pull-right" ng-click="confirm(1)">{{'button.confirm.label' | translate }}</button>
        <button type="button" class="btn btn-default pull-right" ng-click="closeThisDialog(0)">{{'button.cancel.label' | translate }}</button>
    </div>

